* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-align: center;
}

body {
    height: 100%;
    font-family: 'jost-light';
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 2fr 10fr 1fr;
    gap: 20px;
}

header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: #9EF2FE;
    border: 2px solid #000;
    padding: 10px;
}

header nav{
    background-color: #EEFCD8;
    border: 2px solid #000;
}

.container-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.container-content article {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: #A8CFFD;
    border: 2px solid #000;
}

.container-content article section{
    margin: 10px 20px;
    background-color: #FEBF81;
    border: 2px solid #000;
}

.container-content aside {
    background-color: #D1BCF0;
    border: 2px solid #000;
}

footer {
    background-color: #9EF2FE;
    border: 2px solid #000;
}

@media (min-width: 1200px) {

    .container-content article section {
        margin: 10px 70px;
    }

}

@media (max-width: 600px) {

    .container-content {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr;
    }

}
